body {
    background-color: antiquewhite;
}

table {
    margin: 0 auto;
    font-size: 20px;
    border: 2px solid black;
}

tr, td, th {
    border: 2px solid black;
}
div {
    margin-top: 1%;
    text-align: center;
}
