<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleConsult.css">
    <title>Document</title>
</head>
<body>
    <h1> Consultar usuarios </h1>
    <div>
        <br>
        <label> Id </label> <input type="number"> <br> <br>
        <textarea> </textarea> <br> <br>
        <button> Consultar </button> <br> <br>
        <a href="home.html"> Volver</a>
        <br> <br>
    </div>    
</body>
</html>