<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <title>Home</title>
</head>
<body>
    <h1> Aplicación Web </h1> <!-- Comentario Prueba -->    
    <p> 
        Es el segundo lenguaje más básico para crear páginas web. El primero es HTML, con el cual
        se define el contenido del sitio web; mientras que con CSS se define la presentación y el
        diseño de este, es decir, CSS permite separar el contenido de HTML de la representación
        visual del sitio. En resumen, mediante este lenguaje se puede modificar los elementos de
        una página web, tal como la posición, forma, espaciados, colores, entre otros 
    </p>  
     <ol>
        <li> <a href="register.html"> Ir a formulario </a> </li>
        <li> <a href="table.html"> Ir a tabla </a> </li>
        <li> <a href="consult.html"> Ir a consultar </a> </li>
     </ol>
</body>
</html>