<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleTable.css">
    <title>Table</title>
</head>
<body>
    <table>
        <tr>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Cédula  </th>
            <th> Fecha </th>
            <th> Telefono </th>
            <th> Email </th>
            <th> Contraseña </th>
        </tr>
        <tr>
            <td> Jonier </td>
            <td> Porras </td>
            <td> 4855 </td>
            <td> 20/05/10 </td>
            <td> 5548 </td>
            <td> jonier@gmail.com </td>
            <td> jasew4558 </td>
        </tr>
        <tr>
            <td> Flocky </td>
            <td> Duque </td>
            <td> 658774 </td>
            <td> 10/07/12 </td>
            <td> 5445 </td>
            <td> flocky@gmail.com </td>
            <td> fsdew54 </td>
        </tr>          
    </table>
    <div>
        <a href="home.html"> Volver </a>        
    </div>         
</body>
</html>